name: Build for arm

on:
  workflow_dispatch:

jobs:
  precompile:
    strategy:
      matrix:
        include:
          - os: macos-13-arm64
            platform: darwin
            arch: arm64
    runs-on: ${{ matrix.os }}
    env:
      ARCHIVE_FILENAME: nodegui-binary-${{github.event.release.tag_name}}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18.12.1'
          architecture: ${{ matrix.arch }}

      - name: Install ubuntu deps
        if: contains(matrix.platform, 'linux')
        run: sudo apt install mesa-common-dev libglu1-mesa-dev libegl1 libopengl-dev

      - name: Install deps
        run: npm install

      - name: Build nodegui
        run: npm run build
        env:
          CMAKE_BUILD_PARALLEL_LEVEL: 8

      - name: Compress files
        if: ${{!contains(matrix.platform, 'win32')}}
        uses: a7ul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          cwd: ./build/Release
          files: |
            ./nodegui_core.node
          outPath: ${{ env.ARCHIVE_FILENAME }}

      - name: Compress files (Windows)
        if: contains(matrix.platform, 'win32')
        uses: a7ul/tar-action@v1.0.2
        id: compress-windows
        with:
          command: c
          cwd: ./build/Release
          files: |
            ./nodegui_core.node
            ./nodegui_core.lib
            ./nodegui_core.exp
          outPath: ${{ env.ARCHIVE_FILENAME }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_FILENAME }}
          path: ${{ env.ARCHIVE_FILENAME }}
